body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-container, .list-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    flex: 1; 
    min-width: 300px; 
}

.form-container form input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container form button{
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container form button:hover {
    background-color: #0056b3;
}



.list-container ul {
    list-style-type: none;
    padding: 0;
}

.list-container li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.list-container li:last-child {
    border-bottom: none;
}


.task-title {
    flex: 1; 
    font-size: 16px;
    color: #333;
}

.task-buttons {
    flex-shrink: 0;
}

.task-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
}

.edit-button{
    color: #007bff; 
}

.delete-button{
    color: #dc3545;
}

.tarefa-concluida .task-title {
    text-decoration: line-through; /* Risca o texto */
    color: #888; /* Deixa o texto cinza */
}


.error-message {
    background-color: #f8d7da;
    color: #721c24;           
    border: 1px solid #f5c6cb; 
    border-radius: 4px;
    margin-bottom: 15px;     
    text-align: center;
}